body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(236, 230, 230);
}


.container{
    /* padding: 3em; */
    background-color: aliceblue;
    padding: 2em;
    gap: 2em;
}

.header{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    text-align: center;
    padding: 1em;
}
.album{
    /* background-image: url(https://wallscloud.net/img/resize/1152/720/MM/2022-09-14-girl-listening-to-music-1-53619.jpeg); */
    height: 13em;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 2em 2em 0 2em; */
    text-align: center;
}
#file{
    width: 100%;
}
.media-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    /* align-items: center; */
}
.controls{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.time-stamp{
    display: flex;
    justify-content: space-between;
}

/* .heading {
    border: 2px solid black;
   
} */
.song-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    padding: 1em;   
    /* border: 2px solid green; */
}
.song-list-name{
    display: flex;
    justify-content: space-between;

}

.color-gray{
    color: rgb(172, 170, 170);
}